/* font face link */




:root{
    --green: #A1BE61;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*
h1{
    font-size: px;
    font-weight: 650;
}
h2{
    font-size: px;
    font-weight: 650;
}
h3{
    font-size: px;
    font-weight: 650;
}
h4{
    font-size: px;
    font-weight: 650;
}
h5{
    font-size: px;
    font-weight: 650;
}
h6{
    font-size: px;
    font-weight: 650;
}

*/



.section-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}

p{
    font-size: 20px;
}

.container{
    max-width: 1320px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/*
.container-2{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

*/

.my-btn{
    max-width: 250px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: gray;
    color: white;
}


/* ----- special case of the font size  ----------------------------------------------------------------------------------------------*/


















/* topbar part */

.topbar{
    background-color: #FBFBFB;
    padding: 15px 0;
}

.topbar-content, .mail-phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-phone{
    gap: 15px;
}



/* navbar part */

.navbar{
    background-color: var(--green);
}






/* banner part */

.banner{
    background-image: url('../img/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 127px);
}