/* font face link */

@font-face {
  font-family: inter;
  src: url("../font/Inter/static/Inter_28pt-Regular.ttf");
}

@font-face {
  font-family: raleway;
  src: url("../font/Raleway/static/Raleway-Regular.ttf");
}

/* decleare the required things into the root */
:root {
  --green: #a1be61;
  --light-green: #e8ffd8;
}

.green {
  color: var(--green);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  font-family: raleway;
}
h2 {
  font-size: 48px;
  font-weight: bold;
  font-family: raleway;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

p {
  font-size: 20px;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.btn {
  transition: all 0.75s ease-in-out;
}
.btn:hover {
  transform: scale(1.05) translateY(-4px);
}
.my-btn {
  max-width: 235px;
  width: 100%;
  /* border: 1px solid gray; */
  border-radius: 40px;
  padding: 17px 63px;
  background-color: var(--green);
  color: white;
  font-family: raleway;
  font-weight: bold;
}

.my-btn:hover {
  color: black;
  background-color: #8da35e;
}

/* ----- special case of the font size  ----------------------------------------------------------------------------------------------*/

.siz24 {
  font-size: 24px;
  font-family: raleway;
  font-weight: bold;
}
.siz48 {
  font-size: 48px;
  font-weight: bolder;
}

/* ========================================================================================= topbar part */

.topbar {
  background-color: #fbfbfb;
  padding: 15px 0;
}

.topbar-content,
.mail-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mail-phone {
  gap: 15px;
}
.mail-phone a {
  color: #333333;
}
.icon-set {
  width: 21px;
  margin-top: 11px;
  margin-right: 5px;
}

/* ========================================================================================= navbar part */

.navbar {
  background-color: var(--green);
  height: 75px;
}
.navbar-brand {
  color: black;
}
.navlist a {
  color: #333333;
  transition: all 0.75s ease-in-out;
}
.navlist a:hover {
  color: white;
  box-shadow: 0 0 5px gray;
  border-radius: 40px;
  transform: scale(1.1) translateY(-3px);
}
.icons i {
  color: #333333;
}
.navToggler {
  display: block;
  color: black;
  font-size: 22px;
}

/* ========================================================================================= banner part */

.banner {
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 127px);
}

.banner .container {
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.banner-content {
  padding: 20px 0;
}

.banner-content h1 {
  max-width: 505px;
  width: 100%;
}

.banner-content p {
  font-family: inter;
  font-weight: bold;
  max-width: 600px;
  width: 100%;
  letter-spacing: 1.04px;
  margin: 30px 0 40px;
}

/* ========================================================================================== deal part */
.deals {
  overflow: hidden;
  background-color: #fbfbfb;
}
.deals .container {
  position: relative;
}
.right-last {
  position: absolute;
  top: 0;
  right: -100%;
  height: 325px;
}
.deal-box {
  background-color: var(--green);
  max-width: 650px;
  width: 100%;
  max-height: 390px;
  height: 100%;
  padding: 40px 20px 20px 40px;
}

.deal-btn {
  width: 118px;
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
  font-family: raleway;
}
.deal-btn:hover {
  background-color: #5b5454;
  color: white;
}
.light-green {
  background-color: var(--light-green);
}

/* ========================================================================================== about part */

.about {
  padding: 72px 0;
}

.about .col {
  padding: 20px;
}

.about figure {
  max-width: 345px;
  width: 100%;
  max-height: 375px;
  height: 100%;
  position: relative;
}

.about figure::after {
  content: url("../img/about/2.png");
  display: block;
  position: absolute;
  width: 235px;
  height: 215px;
  bottom: -33%;
  right: -32%;
}

/* ======================================================================================= products part */
.products {
  padding: 90px 0;
}
.card {
  margin-top: 15px;
  overflow: hidden;
}
.card figure {
  background-color: #fbfbfb;
  max-width: 200px;
  width: 100%;
  height: 163px;
  /* border: 1px solid #8da35e;
  display: flex;
  align-items: center;
  justify-content: center; */
  transition: all 0.5s ease-in-out;
}
/* .card figure img{
  transition:  all 0.5s ease-in-out;

} */
.card figure:hover {
  transform: scale(1.1);
}

.card-content {
  border: 1px solid #a1be617a;
  padding: 8px 16px;
  margin-top: -8px;
  height: 95px;
}

.card-content p {
  max-width: 160px;
  width: 100%;
  font-size: 14px;
  font-family: inter;
  margin-bottom: 5px;
}

.product-btn {
  width: 96px;
  height: 36px;
  background-color: #a1be61;
  border-radius: 40px;
  color: white;
}
.product-btn:hover {
  background-color: #667643;
  color: white;
}

.cart-icon {
  background-color: var(--green);
  width: 34px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-icon i {
  transition: all 0.75s ease-in-out;
  text-decoration: none;
}
.cart-icon i:hover {
  transform: rotate(90deg) scale(1.3);
  color: black;
}

/* ========================================================================================== offer part */
.offer {
  padding: 20px 0 90px;
}

.card-2-content {
  border: 1px solid #333333;
  padding: 25px 31px;
  height: 95px;
}

.card-2-content p {
  max-width: 135px;
  width: 100%;
  font-size: 14px;
  font-family: raleway;
  font-weight: bold;
  margin-top: 12px;
}
.card-2-content a {
  font-size: 14px;
  font-family: raleway;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

/* =================================================================================== fruit & vegetable */

.card-3 {
  background-color: var(--green);
}
.card-3 .img {
  /* padding: 10px; */
  height: 130px;
}
.card-3 figure {
  margin: 0 auto;
  width: 150px;
  /* height: 150px; */
}

.card-3-content {
  border: 1px solid #646464;
  border-top: none;
  padding: 25px 31px;
  height: 95px;
  background-color: white;
}

.card-3-content p {
  max-width: 135px;
  width: 100%;
  font-size: 14px;
  font-family: raleway;
  font-weight: bold;
  margin-top: 12px;
}
.card-3-content a {
  font-size: 14px;
  font-family: raleway;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

/* ======================================================================================== about-2 part */
.about-2 {
  padding: 70px 0;
}
.about-2 p {
  max-width: 535px;
  width: 100%;
  font-size: 14px;
  font-family: inter;
  font-weight: lighter;
  letter-spacing: 0.6px;
}
.about-2 figure {
  max-width: 365px;
  width: 100%;
  margin-left: auto;
  position: relative;
}
.about-2 figure::after {
  content: url("../img/about-2/2.png");
  display: block;
  width: 210px;
  position: absolute;
  bottom: -25%;
  left: -15%;
}

/* ========================================================================================= review part */
.review {
  padding: 88px 0;
}
.review h2 {
  margin-bottom: 120px;
}
.card-4 {
  position: relative;
  color: white;
}
.card-4-content {
  background-color: var(--green);
  max-width: 425px;
  width: 100%;
  height: 388px;
  padding: 150px 22px 80px 22px;
}
.card-4 figure {
  width: 178px;
  position: absolute;
  top: -20%;
  left: 30%;

  z-index: 10;
}
.card-4-content p {
  font-family: inter;
}

/* ========================================================================================== mail part */
.mail {
  background-color: var(--light-green);
}
.mail form {
  position: relative;
}
input {
  display: block;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 30px;
}
input[type="email"] {
  background-color: white;
  width: 758px;
  height: 68px;
  margin-left: 45px;
}

.email-btn {
  background-color: var(--green);
  padding: 13px;
  border-radius: 40px;
  position: absolute;
  right: 8px;
  top: 8px;
}
.email-btn:hover {
  background-color: #768a49;
  color: white;
}

/* ========================================================================================= footer part */

.footer {
  padding: 85px 0 175px;
  position: relative;
}
.footer .container {
  position: relative;
}

.footer a {
  color: #333333;
  line-height: 2;
}
.footer p {
  font-family: inter;
  font-weight: lighter;
  max-width: 350px;
  width: 100%;
  margin-bottom: 45px;
}

.icon-bg {
  background-color: var(--green);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 21px;
  transition: all 0.5s ease-in-out;
}
.icon-bg:hover {
  background-color: #7e9252;
  transform: scale(1.3);
}

.cradit-card {
  gap: 5px;
  position: absolute;
  bottom: -150px;
  right: 5%;
}

/* ------------ responsive part ----------- */

/* xxl - 1399px */
@media screen and (max-width: 1399px) {
}

/* xl - 1199px */
@media screen and (max-width: 1199px) {
  .banner {
    background-color: #33333330;
    background-blend-mode: multiply;
  }
  .banner-content {
    padding: 70px 20px 20px;
  }
  .banner-content h1 {
    font-size: 68px;
  }
  .banner-content p {
    max-width: 540px;
    width: 100%;
    margin-bottom: 10px;
  }
  .right-last {
    height: 296px;
    right: -35%;
    display: none;
  }
  .special-card-content-p {
    padding: 10px;
  }
}

/* lg - 991px */
@media screen and (max-width: 991px) {
  .col-lg-100 {
    width: 100%;
  }
  .col-lg-50 {
    width: 50%;
  }
  .col-lg-33 {
    width: 33%;
  }
  .col-lg-25 {
    width: 25%;
  }

  /* navbar part */
  /*
  nav {
    flex-direction: column;
    position: relative;
  }
  .navlist {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 105%;
    margin: 0 -15px;
    flex-direction: column;
    align-items: start;
    justify-content: start; 

    display: none;
  }

  .showlist {
    display: block;
  }

  */
  .navToggler {
    display: none !important;
  }
  nav {
    position: relative;
  }
  .navlist {
    background-color: var(--green);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
  }
  .icons {
    position: absolute;
    top: 4px;
    right: 15px;
  }

  /* banner part */
  .banner-content h1 {
    font-size: 50px;
  }
  .banner-content p {
    font-size: 18px;
    max-width: 450px;
    width: 100%;
    margin-bottom: 25px;
  }
  .right-last {
    height: 268px;
    right: -45%;
  }
  .about figure {
    margin-top: 60px;
  }

  .card-content {
    height: 115px;
    position: relative;
  }

  .card-2-content {
    margin-top: -7px;
    gap: 10px;
  }
  .card-3-content {
    gap: 10px;
  }

  .about-2 figure {
    margin-top: 100px;
  }
  .card-4-content p {
    font-size: 18px;
  }
  .card-4 figure {
    left: 21%;
  }
  input[type="email"] {
    width: 558px;
    height: 58px;
  }

  .email-btn {
    padding: 9px;
  }
}

/* md - 767px */
@media screen and (max-width: 767px) {
  .col-md-100 {
    width: 100%;
  }
  .col-md-50 {
    width: 50%;
  }
  .col-md-33 {
    width: 33%;
  }
  .col-md-25 {
    width: 25%;
  }

  .deal-box {
    height: 320px;
    margin: 20px auto 0;
  }
  .right-last {
    height: 303px;
    right: -80%;
    display: none;
  }

  .about figure {
    margin: 0 auto 120px;
  }

  .about-2 p {
    max-width: 750px;
    width: 100%;
  }
  .about-2 figure {
    margin: 0 auto;
  }

  .review h2 {
    margin-bottom: 0px;
    text-align: center;
  }
  .card-4 {
    margin-left: 150px;
    margin-top: 100px;
  }
  input[type="email"] {
    width: 350px;
    height: 58px;
  }

  .email-btn {
    padding: 9px;
  }
}

/* sd - 575px */
@media screen and (max-width: 575px) {
  .col-sd-100 {
    width: 100%;
  }
  .col-sd-50 {
    width: 50%;
  }
  .col-sd-33 {
    width: 33%;
  }
  .col-sd-25 {
    width: 25%;
  }

  .mail-phone {
    flex-direction: column;
    gap: 0;
  }
  #siz11 {
    font-size: 16px;
  }
  .mail-phone li {
    line-height: 0;
  }
  .icon-set-2 {
    width: 13px;
    margin-top: 13px;
  }

  .deal-box {
    height: 420px;
  }
  .deal-img {
    padding: 100px;
    margin-top: -90px;
  }
  .deal-img-2 {
    padding: 120px;
    margin-top: -170px;
  }

  .card-4 {
    margin-left: 70px;
    margin-top: 100px;
  }
  .card-4 figure {
    left: 26%;
  }
  input[type="email"] {
    width: 250px;
    height: 50px;
  }

  .email-btn {
    top: 7px;
    right: 7px;
    padding: 7px;
    font-size: 14px;
  }

  .footer .row .col-6 {
    text-align: center;
  }

  .icons-2 {
    position: absolute;
    top: 55%;
    left: 10%;
  }
}

/* mid of sd-xs - 530px */
@media screen and (max-width: 530px) {
  .deal-box {
    height: 420px;
  }
  .deal-img {
    padding: 70px;
    margin-top: -50px;
  }
  .deal-img-2 {
    padding: 80px;
    margin-top: -130px;
  }

  .about figure {
    margin: 0 auto 230px;
  }

  .about figure::after {
    width: 50px;
    height: 50px;
    bottom: 0%;
    right: 62%;
  }

  .about-2 figure {
    margin-bottom: 100px;
  }

  .about-2 figure::after {
    width: 50px;
    height: 50px;
    bottom: 0%;
    left: 0%;
  }
}

/* xs - 320px */
@media screen and (max-width: 320px) {
  .col-xs-100 {
    width: 100%;
  }
  .col-xs-50 {
    width: 50%;
  }
  .col-xs-33 {
    width: 33%;
  }
  .col-xs-25 {
    width: 25%;
  }

  .mail-phone {
    flex-direction: column;
    gap: 0;
  }
  #siz11 {
    font-size: 11px;
    display: flex;
    align-items: center;
  }
  #siz11 i {
    margin-top: 3px;
    margin-right: 5px;
  }
  .mail-phone li {
    line-height: 0;
  }
  .icon-set-2 {
    width: 13px;
    margin-top: 13px;
  }

  .banner-content h1 {
    font-size: 40px;
    max-width: 310px;
    width: 100%;
  }
  .banner-content p {
    font-size: 16px;
  }
  .banner-btn {
    width: 120px;
    padding: 10px 15px;
    font-size: 14px;
    margin-left: 70px;
  }

  h2 {
    font-size: 36px;
  }

  .deal-box {
    height: 420px;
  }
  .deal-img {
    padding: 0px;
    margin-top: 15px;
  }
  .deal-img-2 {
    padding: 40px;
    margin-top: -60px;
  }

  .about figure {
    margin: 0 auto 230px;
  }

  .about figure::after {
    width: 50px;
    height: 50px;
    bottom: 0%;
    right: 62%;
  }

  .about-2 figure {
    margin-bottom: 100px;
  }

  .about-2 figure::after {
    width: 50px;
    height: 50px;
    bottom: 0%;
    left: 0%;
  }

  .products h2 {
    max-width: 280px;
    width: 100%;
  }

  .card-4 {
    margin: 50px 0;
  }
  .card-4 figure {
    width: 100px;
    top: -15%;
    left: 30%;
  }
  .card-4-content {
    height: 320px;
    padding: 70px 20px 20px;
  }

  .mail-content {
    position: relative;
    height: 250px;
  }
  .mail-content figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  #email-flex {
    position: absolute;
    bottom: 20px;
    left: -15px;
    right: 0;
  }
  .email-btn {
    right: 17px;
  }

  .footer p {
    font-size: 16px;
  }
  #fs-14 {
    font-size: 50px;
  }
  .icons-2 {
    margin-left: 40px;
    margin-top: -60px;
  }
  .cradit-card {
    margin-right: 90px;
    margin-bottom: 40px;
  }
}
